.add-input{
    margin-right: 8px;
    height: 20px; 
    padding-left: 6px;
    width: 20vw;
    border: 1px solid #7c7c7d;
    border-radius: 4px;
    background-color: transparent;
    
}
.add-outer{
    display:flex;
}